<form method="post" action="/landmarks">
  <p>Landmark name:</p>
  <input type="text" name="landmark[name]" id="landmark_name">
  <p>Year that landmark was completed:</p>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br>
  <input type="submit" id="Create New Landmark">
</form>